<h1 id="myTitle" style="text-align: center;">Congrats to the GOTY winners!</h1>
<h1 style="text-align: center;">What are the voters saying?</h1>
<h4 style="text-align: center;">"{{this.quote}}"</h3>
<li id="gameList">
  {{#each games}}
  {{> games/results-block}}
  {{/each}}
</li>
<script>
  document.body.style.backgroundImage = "url('assets/imgs/flavortown.jpg')";
</script>