li {
  padding: 16px;
  margin: 16px;
  background: black;
  color: white;
  list-style-type: none;
  max-width: 512px;
  margin: auto;
  font-size: 22px;
}
button {
  float: right;
  background: orangered;
}
h1, h4{
  padding: 5px;
  margin: 5px;
  background: black;
  color: white;
}
.container{
  background-image: url("../imgs/midriff.png");
}
