li {
  padding: 15px;
  margin: 15px;
  background: black;
  color: white;
  list-style-type: none;
  max-width: 480px;
  margin: auto;
}
button {
  float: right;
  background: orangered;
}
h1{
  padding: 5px;
  margin: 5px;
  background: black;
  color: white;
}
.container{
  background-image: url("../imgs/midriff.png");
}
